<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class = "container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Welcome</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <div class = "container">
      <div class="jumbotron">
        <h1>KEB Dashboard</h1>
        <p>Welcome to KEB layout!!</p>
      </div>
    </div>
    <div class="container">
      <div class ="row">
      <div class="col-lg-9 form-group">
        <label for="exampleTextarea">Likhne ka area...</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Blacklisted</div>
          <div class="panel-body">Nahi khana yaha se <img src="https://previews.123rf.com/images/yayayoy/yayayoy1109/yayayoy110900021/10601995-Dislike-emoticon-Stock-Vector-smiley-face-angry.jpg" width="30px" height="20px"></img></div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
